@model registry_browser.Pocos.RepositoryTagModel

@{
    ViewBag.Title = $"{Model.RepositoryTags.name} - Tags";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Pull command</th>
                    <th>Copy to Clipboard</th>
                    <th>Manifest</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var tag in Model.RepositoryTags.tags)
            {
                <tr>
                    <td>@tag</td>
                    @{var cmd = Model.GetCommand(tag);}
                    <td><code> @cmd </code>  </td>
                    <td> <button class="rv-copybutton btn btn-link btn-lg glyphicon glyphicon-copy" data-copy="@cmd" title="Copy command to clipboard"></button> </td>
                    <td> <a href="@Model.ManifestAddress/@tag">Manifest</a></td>
                    <td>                       
                        <a asp-controller="Home"
                           asp-action="DeleteTag"
                           asp-route-repository="@Model.Repository"
                           asp-route-tag="@tag"
                           class="btn btn-danger">Delete this Tags</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>